*{
    margin:0;
    padding:0;
    font-family: sans-serif;
}

.banner2{
    height: 400px;
    background-color:white;
    width: 100%;
     position:absolute;
     bottom: 0px;
     background-color: rgb(187, 245, 245);
}
.banner{
    height: 100vh;
    width:100%;
    background-image: linear-gradient(rgba(112, 127, 129, 0.75),rgba(67, 86, 88, 0.75)),url(../alumnusbg.webp);
    background-size: cover;
    background-position: center;
}

.element1{
    position: absolute;
    top: 70px;
    left: 180px;
}

.element2{
    position: absolute;
    top: 70px;
    left: 650px;
}
    

.element3{
    position: absolute;
    top: 70px;
    left: 1200px;

}

.element11{
    position: absolute;
    top:280px;
    left:130px;
    
}

.element22{
    position: absolute;
    top:280px;
    left:650px;
    
}

.element33{
    position: absolute;
    top:280px;
    left:1190px;
    
}
.container{
    color: white;
    position: absolute;
    top:150px;
    left:50px;
   
}

.container p{
    margin-bottom: 20px;
    
}


button{
    position: relative;
    margin-top: 100px;
    width:400px;
    padding-bottom: 5px;
    text-align: center;
   border-radius: 10px;
    background:rgb(6, 143, 241);;
    color:white;
    font-weight: 700;
    margin-right: 50px;
    margin-left: 20px;
    height:50px;
    border:transparent;
    z-index: 1;
    cursor: pointer;
    
    
}
  
 

.container2{
    display: inline;
}


.navbar1{
    position: absolute;
    top:0px;
    height:50px;
    width: 100%;
    border-bottom: 2px solid white;
}

.navbar1 button{
    position: absolute;
    top:8px;
    width:170px;
    height:70px;
   left:1350px;
   border-radius: 10px;
   padding-top: 5px;
    
}

.linktag{
    text-decoration: none;
    color:black
}

a:hover{
    color:white
}

.feature1{
    position: absolute;
    left:1380px;
    color:white;
    top:15px;
}

.feature2{
    position: absolute;
    left:1250px;
    color:white;
    top:15px;
}