    *{
        margin: 0;
        padding: 0;
    }
    body{
      background-color: #717d8d;
      width: 100%;
      overflow-x: hidden;
    }
    html{
        scroll-behavior: smooth;
    }
    .home{
        width: 100%;
        height: 100vh;
        background:linear-gradient(to bottom, rgba(0,0,0,0),rgba(0,0,0,0.7)), url(../image.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        
    }
    .topnav{
    overflow: hidden;
          background-color: transparent;
          height: 80px;
        }
        
        .topnav a {
          float: left;
          display: block;
          /* color: #f2f2f2; */
          text-align: center;
          padding: 14px 16px;
          text-decoration: none;
          font-size: 17px;
        }
        .scrolled{
          width:100%;
          background-color: #7cb4b6;
          position:fixed;
          top:0;
          left:0;
          z-index:1000;
        }
        
        /* .topnav a:hover {
          background-color: #ddd;
          color: black;
        } */
        
        .topnav a.active {
          background-color: #04AA6D;
          color: white;
        }
        
        .topnav .icon {
          display: none;
        }
        
        @media screen and (max-width: 600px) {
          .topnav a:not(:first-child) {display: none;}
          .topnav a.icon {
            float: right;
            display: block;
          }
        }
        
        @media screen and (max-width: 600px) {
          .topnav.responsive {position: relative;}
          .topnav.responsive .icon {
            position: absolute;
            right: 0;
            top: 0;
          }
          .topnav.responsive a {
            float: none;
            display: block;
            text-align: left;
          }
        }
        .logo{
          width: 280px;
          height: 70px;
          position: relative;
          left: -700px;
          top: 12px;
        }
        .mid{
          position: relative;
          left: 53%;
          top: 20px;
          color: white;
          margin-left: 25px;
        }
        .end{
          position: relative;
          left: 55%;
          top: 20px;
          color: white;
        }
        .disname{
          position: relative;
          left: 59%;
          top: 30px;
          color:#BDB6A8;
          text-decoration: underline;
          font-size: 23px;
          font-style:italic;
        }
        .start{
          background-color: white;
          color: black;
          margin-left: 35px;
        }
        .content h1{
            color: white;
            position: absolute;
            left: 100px;
            font-size: 120px;
            top: 250px;
        }
        .content p{
            position: absolute;
            top: 400px;
            width: 500px;
            left: 100px;
            color: white;
            font-size: 20px;
        }

        .card {
  width: fit-content;
  height: fit-content;
  background-color:transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.055);
}

.socialContainer {
  width: 40px;
  height: 40px;
  border-radius: 5px;
  background-color:transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition-duration: 0.3s;
}
.containerOne:hover {
  background: #f09433; 
  background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
  background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
  background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
  transition-duration: 0.3s;
}
.containerTwo:hover {
  background-color: #00acee;
  transition-duration: 0.3s;
}
.containerThree:hover {
  background-color: #0072b1;
  transition-duration: 0.3s;
}
.containerFour:hover {
  background-color: green;
  transition-duration: 0.3s;
}

.socialContainer:active {
  transform: scale(0.9);
  transition-duration: 0.3s;
}

.socialSvg {
  width: 17px;
}

.socialSvg path {
  fill: rgb(255, 255, 255);
}

.socialContainer:hover .socialSvg {
  animation: slide-in-top 0.3s both;
}
.third{
    width: 100%;
    height: 100vh;
    background-color: red;
}

@keyframes slide-in-top {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.social{
  display: flex;
  width: 25%;
  justify-content:space-evenly;
  align-items: center;
  position: relative;
}
.cardx{
    position: relative;
    width: 20px;
    top: 500px;

}
.second{
    background-color: green;
    width: 100%;
    height: 100vh;
}
.card-main{
  display: flex;
  flex-direction: column;
  gap: 40px;
  background-color: #717d8d;
  height: 100vh;
  width: 100%;
  
  
}

.searchBox {
  display: flex;
  width: 600px;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  background: #f7eedd;
  border-radius: 50px;
  position: relative;
  margin-top: 20px;
}

.searchButton {
  color: white;
  position: absolute;
  right: 8px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background:#403421;
  border: 0;
  display: inline-block;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
}



.searchInput {
  border: none;
  background: none;
  outline: none;
  color: #403421;
  font-size: 15px;
  padding: 24px 46px 24px 26px;
}


.card-top-alumni{
  display: flex;
  gap: 40px;
  margin-top: 50px;
}

.card {
  --main-color: #000;
  --submain-color: #78858f;
  --bg-color: #f4f4f4;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  position: relative;
  width: 300px;
  height: 384px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  background: var(--bg-color);
  height: 425px;
  
}

.card__img {
  height: 192px;
  width: 100%;
}

.card__img svg {
  height: 100%;
  border-radius: 20px 20px 0 0;
}

.card__avatar {
  position: absolute;
  width: 114px;
  height: 114px;
  background: var(--bg-color);
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  top: calc(50% - 57px);
}

.card__avatar svg {
  width: 100px;
  height: 100px;
}

.card__title {
  margin-top: 60px;
  font-weight: 500;
  font-size: 18px;
  color: var(--main-color);
}

.card__subtitle {
  margin-top: 10px;
  font-weight: 400;
  font-size: 15px;
  color: var(--submain-color);
}

.card__btn {
  margin-top: 15px;
  width: 76px;
  height: 31px;
  border: 2px solid #BDB6A8;
  border-radius: 4px;
  font-weight: 700;
  font-size: 11px;
  color: #BDB6A8;
  background: var(--bg-color);
  text-transform: uppercase;
  transition: all 0.3s;
}


.card__btn-solid {
  background: #BDB6A8;
  color: var(--bg-color);
}

.card__btn:hover {
  background: #BDB6A8;
  color: var(--bg-color);
}

.card__btn-solid:hover {
  background: var(--bg-color);
  color: #BDB6A8;
}
.card__wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.card1{
  margin-left: 30px;
}
.card2{
  margin-left: 30px;
}
.card3{
  margin-left: 30px;
}
.card4{
  margin-left: 30px;
}
.four{
    width: 100%;
    background-color:#717d8d ;
}
.searchBox2 {
  display: flex;
  width: 600px;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  background: #f7eedd;
  border-radius: 50px;
  position: relative;
  margin-top: 10px;
  top: 20px;
}

.searchButton2 {
  color: white;
  position: absolute;
  right: 8px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background:#403421;
  border: 0;
  display: inline-block;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
}


.searchInput2 {
  border: none;
  background: none;
  outline: none;
  color: white;
  font-size: 15px;
  padding: 24px 46px 24px 26px;
}

.five{
    width: 100%;
    height: 100vh;
    background-color: #000;
    position: relative;
    top: 40px;
}
.i3-banner2{
    height: 400px;
    background-color:white;
    width: 100%;
     position:absolute;
     bottom: 0px;
}
.i3-banner{
    height: 100vh;
    width:100%;
    background: linear-gradient(rgba(112, 127, 129, 0.75),rgba(67, 86, 88, 0.75)),url(../static/WhatsApp\ Image\ 2024-04-20\ at\ 5.14.36\ PM.jpeg);
    background-size: cover;
    background-position: center;
}

.i3-element1{
    position: absolute;
    top: 70px;
    left: 100px;
}

.i3-element2{
    position: absolute;
    top: 70px;
    left: 650px;
}
    

.i3-element3{
    position: absolute;
    top: 70px;
    left: 1200px;

}

.i3-element11{
    position: absolute;
    top:280px;
    left:100px;
    
}

.i3-element22{
    position: absolute;
    top:280px;
    left:612px;
    
}

.i3-element33{
    position: absolute;
    top:280px;
    left:1152px;
    
}
.i3-container{
    color: white;
    position: absolute;
    top:100px;
    left:200px;
    
   
}


.i3-button{
    position: relative;
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
    margin-top: 100px;
    width:300px;
    margin-bottom: 20px;
    text-align: center;
    border-radius: 30px;
    background:rgb(6, 143, 241);;
    color:white;
    font-weight: 700;
    margin-right: 50px;
    margin-left: 20px;
    height:50px;
    border:transparent;
    z-index: 1;
    cursor: pointer;
    top: -10px;
    
}
  
 

.i3-container2{
    display: inline;
}
.six{
    width: 100%;
    height: 300px;
    background-color: #000;
}
.about-container{
  height: 100vh;
  width:100%;
  background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url("../Image1.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  
}

.about-img{
  width: 30%;
  height: 80%;
  padding: 50px;

}
.about-img img{
  height: 100%;
  width: 100%;
}
.about-about{
  width: 40%;
  display: flex;
  flex-direction: column;
  padding: 50px;
  color: #f7eedd;
  font-size: 24px;
  gap: 20px;

}

.about-button{
  position: relative;
  margin-top: 40px;
  width:300px;
  padding: 2px;
  text-align: center;
  border-radius: 50px;
  background:transparent;
  color:#f7eedd;
  font-weight: 700;
  margin-right: 50px;
  margin-left: 20px;
  height:50px;
  border:2px solid  #f7eedd;
  z-index: 1;
  cursor: pointer;
  display: inline;
}

.about-button span{
  position: absolute;
  height:100%;
  width:0;
  background: #7d643b;
  left:0;
  bottom:0;
  border-radius: 50px;
  z-index: -1;
  transition: 0.5s;
}

.about-button:hover span{
  width: 100%;
}
.about-btn{
  display: flex;
  gap: 10px;
}
h2{
  display: inline-block;
  margin: 0 0;
  position:relative;
  cursor: pointer;
}
h2::after{
  position:absolute;
    width: 0;
    height: 100%;
    content:'';
    border:3px solid #f7eedd;
  border-left: 0;
  border-right: 0;
  border-top: 0;
    bottom:-2px;
    left:0;
    
    transition: 0.5s;
}
h2:hover::after{
  width: 30%;
}
.four{
  height: 100vh;
  width: 100%;
}

.event-box{
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: start;
  gap: 10px;
  padding: 15px;
  color: #f7eedd;
}
.upcoming-event{
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
  align-items: start;
  margin-top: 20px;
  padding: 30px;
  background-color: #717d8d;
}
.event{
  display: flex;
  flex-direction: row;
  margin-top: 15px;
}
.event img{
  height: 200px;
  width: 150px;
  padding-right:30px;
}
.event-info{
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-family: "Atkinson Hyperlegible", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.event-info h3{
  margin-bottom: 10px;
}
.event-info button{
  width: 180px;
  height: 36px;
  border-radius: 20px;
}
.event-info img{
  width: 20px;
  height: 20px;
}
.event-button{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 400px;
  padding-top: 20px;
}

.evbtn-1{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 20px;
  background-color:#b4dbdc ;
}
.evbtn-1 img{
  padding: 0;
}
hr{
  margin-left: 180px;
  margin-top: 20px;
  border: 3px solid #1e4f51;
  width: 100%;
}
.event-register button{
  display: flex;
  justify-content: center;
  padding: 20px;
  align-items: center;
  background-color: transparent;
  color: #b4dbdc;
  width: 400px;
  border: none;
  
}
.event-register span{
  font-family: "Atkinson Hyperlegible", sans-serif;
  font-weight: 700;
  font-size: 24px;
  background-color: transparent;
  font-style: normal;
}
.event-register img{
  width: 30px;
  height: 30px;
  padding: 0;
}
.See-more{
  width: 100%;
  display: flex;
  justify-content: center;
}
.See-more button{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  color: #f7f7f7;
  gap: 5px;
  border: none;
  
}
.See-more span{
  font-family: "Atkinson Hyperlegible", sans-serif;
  font-weight: 700;
  font-size: 24px;
  background-color: transparent;
  font-style: normal;
}
.See-more img{
  width: 30px;
  height: 30px;
  padding: 0;
}
.four2{
  width: 100%;
  background-color: #717d8d;
  margin-bottom: 0px;
}
.past-event{
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
  align-items: start;
  margin-top: 20px;
  padding: 30px;
  color: #f7eedd;
  background-color: #717d8d;
}
.evbtn-12{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 20px;
  background-color: #c47794; ;
}