*{
    margin:0;
    padding:0;
    font-family: sans-serif;
}

.u-banner2{
    height: 400px;
    background-color:white;
    width: 100%;
     position:absolute;
     bottom: 0px;
     background-color: rgb(187, 245, 245);
}
.u-banner{
    height: 100vh;
    width:100%;
    background-image: linear-gradient(rgba(112, 127, 129, 0.75),rgba(67, 86, 88, 0.75)),url(../userbg.png);
    background-size: cover;
    background-position: center;
}

.u-element1{
    position: absolute;
    top: 70px;
    left: 180px;
}

.u-element2{
    position: absolute;
    top: 70px;
    left: 700px;
}
    

.u-element3{
    position: absolute;
    top: 70px;
    left: 1200px;

}

.u-element11{
    position: absolute;
    top:280px;
    left:40px;
    
}

.u-element22{
    position: absolute;
    top:280px;
    left:700px;
    
}

.u-element33{
    position: absolute;
    top:280px;
    left:1190px;
    
}
.u-container{
    color: white;
    position: absolute;
    top:150px;
    left:50px;
   
}

.u-container p{
    margin-bottom: 20px;
    
}


  
 

.u-container2{
    display: inline;
}


.u-navbar1{
    position: absolute;
    top:0px;
    height:50px;
    width: 100%;
    border-bottom: 2px solid white;
}

.u-navbar1 button{
    position: absolute;
    top:8px;
    width:170px;
    height:70px;
   left:1350px;
   border-radius: 10px;
   padding-top: 5px;
    
}

.u-linktag{
    text-decoration: none;
    color:black
}

a:hover{
    color:white
}

.u-feature1{
    position: absolute;
    left:1350px;
    color:white;
    top:15px;
}