<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width", initial-scale="1.0">
    <title>Document</title>
    <link href="../static/css/styleSendingInv.css" rel="stylesheet">
</head>
<body>
    <div class="comment-box">
        <p>Add Event</p>
        <form class="comment-form">
        <input type="text" placeholder="Email">
        <input type="date">
        <input type="time">
        <input type="text" placeholder="Venue">
        <textarea name="" id="" cols="30" rows="10" placeholder="Description"></textarea>
        <label for="file">Attach file:</label>
        <br>
        <input type="file" id="file">
        <button type="submit">Publish</button>
    </form>
    </div>
</body>
</html>