<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width", initial-scale="1.0">
    <title>Document</title>
    <link href="../static/css/styleRequestMentorship.css" rel="stylesheet">
</head>
<body>
    <div class="comment-box">
        <p>Request Mentorship</p>
        <form class="comment-form">
        <label for="name">Name of Student:</label>
        <input type="name" placeholder="Name"><br><br>
         
      
        <label for="Department">Department of Student:</label><br>
        <select id="Department">
            <option value="Batch1">CSE</option>
            <option value="Batch2">ECE</option>
            <option value="Batch3">CS(AI & DS)</option>
            <option value="Batch4">EC(ES & IoT)</option>
         </select><br><br>

        <label for="Batch">Batch of Student:</label><br>
        <select id="Batch">
           <option value="Batch1">2020</option>
           <option value="Batch2">2021</option>
           <option value="Batch3">2022</option>
           <option value="Batch4">2023</option>
        </select><br><br>
        
        <label for="email">Email of Student:</label>
        <input type="email" placeholder="Email"><br><br>

        <label for="name1">Alumni Name:</label>
        <input type="name1" placeholder="Name"><br><br>

        <label for="BatchS">Batch of Aumni:</label><br>
        <select id="BatchS">
           <option value="Batch1">2016</option>
           <option value="Batch2">2017</option>
           <option value="Batch3">2018</option>
           <option value="Batch4">2019</option>
        </select><br><br>

        <label for="Title">Mentorship Title:</label>
        <input type="title" placeholder="Title"><br><br>

        <label for="Skill">Skill Taught::</label>
        <input type="skill" placeholder="Skill"><br><br>


        <button type="submit">Send</button>
        
    </form>
    </div>
</body>
</html>