<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="../static/css/styleSendingInv.css" rel="stylesheet">
  <title>Document</title>
</head>
<body>
  <div class="comment-box">
    <p>Offer Mentorship</p>
    <form class="comment-form">
    <input type="text" placeholder="Name">
    <label for="Batch">Batch</label>
    <br>
    <select id="Batch">
      <option value="Batch1">2016</option>
      <option value="Batch2">2017</option>
      <option value="Batch3">2018</option>
      <option value="Batch4">2019</option>
    </select><br>
    <input type="text" placeholder="Position">
    <input type="text" placeholder="Company">
    
    <input type="tel" placeholder="Contact no." id="phone" name="phone" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" />
    <input type="email" placeholder="Email">
    <label for="file">Resume</label>
    <br>
    <input type="file" id="file">
    <textarea name="" id="" cols="30" rows="10"> Mentorship Description</textarea>
    <button type="submit">Submit</button>
</form>
</div>
</body>
</html>